<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side_bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
    <!-- <script type="text/javascript" src="/scripts/side-bar.js"></script> -->
    <script type="text/javascript" src="/scripts/leaflet.js"></script>
    <script type="text/javascript" src="/scripts/toggle-nav.js"></script>
  </head>

  <div id="map"></div>
  <div id="map_selections">
  <div class='nav'>
    <button class='nav-button1'></button>
    <nav class="sidebar">
    </nav>
  </div>

  <div id="pin_details" hidden>
    <div>
      <button class='nav-button1'></button>
      <nav class="sidebar">
        <header class="pin_title">user:</header>
        <div class="description">
        <img src= >
        <p class="write_up"></p>
        </div>
        <div class="pin_buttons">
          <button></button>
          <button></button>
        </div>
        <footer>
          <button>create map</button>
          <button>create pin</button>
        </footer>
      </nav>
    </div>

  </body>

</html>
