div.pin_details{
  float:left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toggle_button:hover {
  background-color: pink;
}

.toggle_button:before {
  content: '✖'
}

.toggle_open {
  content: '✖';
}

.toggle_close:before {
  content: '\2630';
  display: flex;
  align-items: center;
}

button.toggle_button {
  float: right;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: large;
}

.left_side {
  margin-left: -30vw;
  transition: 0.8 all;
}

/* pin nav content styling */
img.image {
  width: 28vw;
  height: auto;
  padding: 0.5em;
  display:flex;
  justify-content: center;
  align-content: center;
}

.pin_title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 1.4em;
  margin-left: 1.3em;
  font-size: 20px;
}

.sidebar header {
  text-align: left;
}

div.pin_container {
/* smaller floating style */
  display:flex;
  overflow:auto;
  align-self:center;
  justify-content: left;
  color: white;
  background-color: #013220;;
  width: 30vw;
  height: 70vh;
  transition: 0.8 all;
/*   border-top-right-radius: 3em; */
  border-bottom-right-radius: 3em;
}

 .write_up {
  display:flex;
  justify-content: center;
  border-top: 2px black solid;
  padding-top: 1em;
}

.edit_pin{
  color:blue;
  margin-left:38%

}

