div.pin_details{
  float:left;
}

button.toggle_button {
  float: right;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: large;
}

img.image {
  width: 28vw;
  height: auto;
  padding: 0.05vw;
}

.toggle_button:hover {
  background-color: pink;
}

.toggle_button:before {
  content: '✖'
}

.toggle_open {
  content: '✖';
}

.toggle_close:before {
  content: '\2630';
  display: flex;
  align-items: center;
}

.sidebar header {
  text-align: left;
}

div.pin_container {
  float: left;
  color: whitesmoke;
  background-color: orange;
  width: 30vw;
  height: 100vh;
  padding: 1vw;
  margin-right: 0;
  transition: 0.8 all;
  overflow: auto;
}

.left_side {
  margin-left: -30vw;
  transition: 0.8 all;
}
