.nav{
  float:right;
}

.nav-button1 {
  float: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: large;
}

.nav-button1:hover {
  background-color: pink;
}

.nav-button1:before {
  content: '✖';
}

.nav-button2:before {
  content: '\2630';
}

.sidebar header {
  text-align: right;
}

nav.sidebar {
  float: right;
  color: pink;
  background-color: rebeccapurple;
  width: 18vw;
  height: 100vh;
  padding: 1vw;
  margin-right: 0;
  transition: 0.8 all;
}

nav.side {
  margin-right: -18vw;
  transition: 0.8 all;
}

.map-button, .map-button:link, .map-button:hover {
  color: black;
  border:white 2px solid;
  background-color: white;
  padding: 0.8em;
  font-size:12px;
  border-radius:10px;
}

.createButton {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sidebar footer {
  bottom: 0;
  text-align: center;
  margin: 1rem;
  padding: 1em;
}
