/* Sidebar + Toggle close */
.nav{
  float:right;
}

.nav-button1 {
  float: left;
  background-color: rgb(91, 171, 236);
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: large;
}

.nav-button1:hover {
  background-color: rgb(106, 149, 214);
}

.nav-button1:before {
  content: '✖';
}

.nav-button2:before {
  content: '\2630';
}

.sidebar header {
  text-align: right;
}

nav.left-nav {
  float: right;
  color: white;
  background-color: rgb(91, 171, 236);
  background-image: url("/images/graphy.png");
  width: 18vw;
  height: 100vh;
  padding: 1.3em;
  margin-right: 0;
  transition: 0.8 all;
}

nav.side {
  margin-right: -18vw;
  transition: 0.8 all;
}

/* Sidebar Content Styling */
.left-nav {
  overflow:auto;
}

h1 {
  color:blue;
}

img{
  width: 2em;
  height: 2em;
  margin-top: 0.8em;
  margin-left:0.8em;
}

.header {
  display:flex;
  justify-content: center;
}

.left-nav header {
  display:flex;
  justify-content: center;
  font-size: 14px;
}

.pin-buttons{
  color: black;
  border:white 2px solid;
  background-color: white;
  padding: 0.8em;
  font-size:14px;
  border-radius:10px;
}

.map-button {
  color: black;
  border:white 2px solid;
  background-color: white;
  padding: 0.8em;
  font-size:14px;
  border-radius:10px;
  text-align:center;
  text-decoration:none;
  cursor: pointer;
}

.map-button:hover {
  color: white;
  border:rgb(175, 172, 172) 2px solid;
  background-color: grey;
}

.createMap {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.createMap:hover {
  background-color: white;
  border: none;
  color: black;
}

#cancelButton {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#submitButton {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.left-nav footer {
  bottom: 0;
  text-align: center;
  margin: 1rem;
  padding: 1em;
}

.pinButtons {
  color: black;
  border:white 2px solid;
  background-color: white;
  padding: 0.8em;
  font-size:14px;
  border-radius:10px;
  text-align:center;
  text-decoration:none;
  cursor: pointer;
}

.pinButtons:hover {
  color: white;
  border:rgb(175, 172, 172) 2px solid;
  background-color: grey;
}
